# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin


# Ignore text files
*.txt

# Kotlin / Java
*.class
*.jar
*.war
*.ear
out/
kotlin-js-store/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor backups & temp files
*.tmp
*.swp
*.bak
*~